---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';

$base-font-family: 'lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$logo-font-family: 'Satisfy';
$header-font-family: 'Merriweather';
$button-font-family: 'Merriweather';

$content-width:    1200px;
$spacing-unit:     15px;

$mobile:        0px;
$tablet:        481px;
$laptop:        1024px;

@mixin when-using($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

@mixin max-width($width) {
  @media screen and (max-width: $width) {
      @content;
  }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
    'color_palette',
    'typography',
    'animations',
    'base',
    'syntax-highlighting',
    'layout',
    'header',
    'site-content',
    'footer',
    'pages',
    'posts',
    'buttons',
    'components'
;
