<header class='site-header js-site-header'>

  <a class='site-title-wrapper js-site-title-wrapper' href='{{ site.baseurl }}/'>
    <svg class='site-logo' height='35' width='35' viewbox='0 -10 110 170' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'>
        <g id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'>
            <g id='logo'>
                <g id='light'>
                  <path stroke='#F9F6F6' stroke-width='7' d='M6.4702703,67.3445681 C6.4702703,67.3445681 7.76890389,110.24951 23.4411916,124.999498 C34.795603,134.948258 68.2973001,145.819753 68.2973001,145.819753 C68.2973001,145.819753 94.934507,137.167902 110.485603,124.999499 C126.036699,112.831095 125.831231,67.3445681 125.831231,67.3445681 L6.4702703,67.3445681 Z'></path>
                  <path fill='#F9F6F6' d='M75.1768384,22.1147118 C73.1480824,17.9662467 83.4690463,21.6309785 83.394595,7.02962961 C79.2087547,7.26881563 72.4189053,-4.32118738 61.1081081,2.16296286 C55.8970363,5.90586576 59.1498587,21.8717523 59.1498587,21.8717523 C59.1498587,21.8717523 59.3901271,21.9530143 59.8166495,22.0803715 C47.759553,22.7440257 24.650331,25.3903239 6.11081078,35.6959301 C-3.30780972,42.6547742 1.01864539,83.5775574 1.0038739,83.7200567 C0.988513514,86.9687838 8.47617928,92.3296268 8.47617928,92.3296268 L8.47617928,83.7200561 C8.47617928,83.7200561 31.5309143,73.563497 65.9994854,73.1120976 C100.469377,73.563468 124.09915,83.7200561 124.09915,83.7200561 L124.09915,92.3296268 C124.09915,92.3296268 131.586816,86.9687838 131.571456,83.7200567 C131.556684,83.5775574 135.883139,42.6547742 126.464519,35.6959301 C108.206149,25.5466074 86.669744,22.8277595 75.1768384,22.1147118 Z'></path>
                </g>
            </g>
        </g>
    </svg>
    <span class='site-title'>{{ site.title }}</span>
  </a>

</header>

<a href='javascript:;' class='site-nav-trigger js-site-nav-trigger'>
  <svg class='hamburger-menu' width="30" height="26" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <path stroke='#000000' d='M 0 3 L 100 3 Z' stroke-width='6px' />
    <path stroke='#000000' d='M 0 13 L 100 13 Z' stroke-width='6px' />
    <path stroke='#000000' d='M 0 23 L 100 23 Z' stroke-width='6px' />
  </svg>
</a>

<nav class='site-nav js-site-nav'>
  <ul class='site-nav-pages'>
    <li class='site-nav-group'>
      I write about what I do.
    </li>
    <li class='site-nav-page'>
      <a href='http://sturdynut.com/blog' target='_blank'>
        <span>Blog</span>
        <span class='site-nav-post-meta'>http://sturdynut.com/blog</span>
      </a>
    </li>
    <li class='site-nav-group'>
      Check out my work.
    </li>
    <li class='site-nav-page'>
      <a href='https://github.com/sturdynut' target='_blank'>
        <span>GitHub</span>
        <span class='site-nav-post-meta'>https://github.com/sturdynut</span>
      </a>
    </li>
    <li class='site-nav-page'>
      <a href='http://codepen.io/sturdynut/' target='_blank'>
        <span>CodePen</span>
        <span class='site-nav-post-meta'>http://codepen.io/sturdynut/</span>
      </a>
    </li>
    <li class='site-nav-page'>
      <a href='https://dribbble.com/sturdynut' target='_blank'>
        <span>Dribbble</span>
        <span class='site-nav-post-meta'>https://dribbble.com/sturdynut</span>
      </a>
    </li>
    <li class='site-nav-group'>
      Connect to me on one of these channels.
    </li>
    <li class='site-nav-page'>
      <a href='https://twitter.com/sturdynut' target='_blank'>
        <span>Twitter</span>
        <span class='site-nav-post-meta'>@sturdynut</span>
      </a>
    </li>
    <li class='site-nav-page'>
      <a href='https://www.linkedin.com/in/mattisalokangas' target='_blank'>
        <span>LinkedIn</span>
        <span class='site-nav-post-meta'>So old school</span>
      </a>
    </li>
    <li class='site-nav-page'>
      <a href='mailto:matti@sturdynut.com' target='_blank'>
        <span>Email</span>
        <span class='site-nav-post-meta'>matti [at] sturdynut.com (even more old school)</span>
      </a>
    </li>
  </ul>

</nav>
