* {
  box-sizing: border-box;
}

@-ms-viewport{
  width: device-width;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

header, footer, nav, article, main {
  display: block;
}

/**
 * Basic styling
 */

html {
  height: auto;
}

body {
  width: 100%;
  height: 100%;
}

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-position: 50% calc(100% - 50px);
    background-color: $background-color;
    background-image: url('/images/mountain-scene-2.svg');
    background-repeat: no-repeat;
    background-size: 350px;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include when-using(557px) {
      background-size: 550px;
    }

    @include when-using($laptop) {
      background-size: contain;
      background-position: 50% 50px;
      background-size: 864px 580px;
    }
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3 {
  color: $heading-color;
  font-family: $header-font-family;
}
h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

h1 {
  text-align: right;
  font-size: 5em;
  margin-bottom: 40px;
  font-weight: 700;
  padding-right: 20px;
  color: $white;
}




/**
 * Links
 */
a {
    color: $white;
    text-decoration: none;

    &:hover {
        color: $white;
        text-decoration: none;
    }
}



/**
 * Blockquotes
 */
blockquote {
  padding: 0 $spacing-unit;
}

blockquote {
  color: $quote-color;
  background: $tertiary-color;
  border-left: 1em solid $secondary-color;
  padding: 1rem;
  font-size: 1.8em;
  font-style: italic;
  quotes: "\201C""\201D";

  > :last-child {
      margin-bottom: 0;
  }

  &:first-child {
    padding-top: 0;
  }
}

blockquote:before {
  color: $quote-color;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
    color: $black;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
  margin-right: auto;
  margin-left: auto;
  @extend %clearfix;
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $white;
        }
    }
}
