.btn {
  border: 1px solid $text-color;
  color: $text-color;
  padding: 10px 25px;
  border-radius: 2px;
  font-family: $button-font-family;
}

.featured-button {
  margin-top: 50px;
  font-size: 1em;
  transition: all 100ms;
  color: $white;
  font-family: $button-font-family;
  line-height: 60px;
  background: $background-color;
  position: relative;
  width: 170px;
  text-align: center;
  display: block;
  text-indent: 0;
  font-weight: 700;

  span {
    position: relative;
    z-index: 2;
  }

  &:after {
    content: ' ';
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $primary-color;
    z-index: 1;
    transition: all 500ms;
  }

  &:hover,
  &:active {
    animation: bob 2s infinite;
    color: $white;

    &:after {
      top: 0;
    }
  }
}
