$white: #F8F6F6;
$black: #111;
$blue:  #78B6E2;
$dark-red:  #2F0C07;
$red: #c0392b;
$orange:  #d35400;
$yellow:  #FDB24F;
$purple:  #443A47;
$brown:  #714E2F;
$tan: #F8AA87;
$green:  #3E522A;
$dark-grey: #2a2a2a;
$pink: #F9BDA8;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$primary-color: $red;
$primary-color-dark: darken($primary-color, 15%);
$primary-color-light: lighten($primary-color, 15%);
$secondary-color: $blue;
$tertiary-color: $tan;

$quote-color: $blue;
$header-color: $black;
$heading-color: $white;
$footer-color: $white;
$footer-text-color: $black;
$title-color: $tan;
$background-color: $dark-red;
$background-image: none;
$text-color: $white;

/** Site Menu **/
$menu-background-color: $dark-grey;
$menu-item-color: $white;
$menu-item-hover-color: $white;
$menu-item-background-color: $primary-color;
$menu-item-background-hover-color: darken($menu-item-background-color, 15%);

$keyword-color: $secondary-color;
