/**
 * Site footer
 */
.site-footer {
  text-align: center;
  font-size: 12px;
  height: 94px;
  margin-top: 200px;

  @include when-using($tablet) {
    padding: 0 30px;
  }

  @include when-using($laptop) {
    margin-top: 0;
    height: auto;
    padding: 30px;
    text-align: center;
  }
}

.btn.subscribe-link {
  border-style: none;
  border-radius: 0;
  display: block;
  margin: 15px 30px;
  transition: all 300ms;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2em;

  &:hover {
    color: $white;
    border: 1px solid $white;
  }

  @include when-using(768px) {
    font-size: 0.9em;
    padding: 10px 0;
    margin: 15px auto;
  }
}

.social-media-list {
  height: 75px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
