section {
  > p {
    line-height: 2;
    font-size: 2rem;
    max-width: 910px;
    margin: 0 auto;
    text-align: justify;
    padding: 50px;
  }

  a {
    border-bottom: 3px solid $primary-color;
    color: $white;
  }

  svg {
    min-height: 300px;
    margin-top: 200px;
  }
}
