.site-content {
  width: 100%;
  height: 100%;
}

.name-occupation {
  width: 324px;
  height: 100vh;
  background-image: url('/images/sign.svg');
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;
  margin: 85px auto 0;

  @include when-using($laptop) {
    height: 100vh;
    margin: 0 auto;
    background-position: center;
  }

  .actions {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      padding: 0;
      margin: 0 0 0 20px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.about-section {
  padding: 30px;

  > img {
    display: block;
    margin: 30px auto;
    width: 100%;
    max-width: 400px;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.9);

    @include when-using($tablet) {
      margin-bottom: 60px;
    }
  }

  @include when-using($tablet) {
    padding: 80px 30px;
  }

  @include when-using($laptop) {
    padding: 30px;
    box-shadow: 0 1px 12px 5px rgba(0, 0, 0, 0.9);
    height: 100%;
    background-image: linear-gradient(-180deg, #CB5251 0%, #FF8A48 100%);
  }
}
